<!-- Toolbar -->
<mat-toolbar 
    color="primary"
    class="header"
>
    <span class="nav-tool-items">
        <mat-icon
            (click)="sidenav.toggle()"
            class="hamburger"
        >
            menu
        </mat-icon>
    </span>
    <div>{{title}}</div>
</mat-toolbar>

<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav
        #sidenav
        [mode]="isBiggerScreen() ? 'over' : 'push'"
        [(opened)]="opened"
        [fixedInViewport]="true"
        [fixedTopGap]
    >
        <mat-nav-list>
            <a routerLink="/dashboard" mat-list-item (click)="sidenav.toggle()" >
                <mat-icon>space_dashboard</mat-icon>
                Dashboard
            </a>
            <a routerLink="/randomizer" mat-list-item (click)="sidenav.toggle()">
                <mat-icon>next_plan</mat-icon>
                Mani Randomizer
            </a>
            <a routerLink="/list" mat-list-item (click)="sidenav.toggle()">
                <mat-icon>content_paste</mat-icon>
                Polish List
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content fxFlex fxLayout="column">
      <router-outlet></router-outlet>      
    </mat-sidenav-content>
</mat-sidenav-container>
